.primary-btn{
    border: none;
    border-radius: 15px;
    width: 100%;
}
.filterarea{
    float: right;
}
.filterBtn{
    background-color: #fff !important;
    // border: none;
    color: #000 !important;
    border: 1px solid #000;
}