.inputBoxStyle {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  width: 100%;
  outline: none;
  padding: 0px 20px;
  height: 50px;
  margin-bottom: 20px;
  transition: 0.2s all;
}

.labelTxt {
  font-size: 18px;
}